body {
    background: #e5e5e5;
}

.container {
    width: 920px;
    padding: 30px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow:         3px 5px 10px 0px rgba(50, 50, 50, 0.94);
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    margin-bottom: 15px;
}

.matrix {
    position: relative;
    margin: 20px;
}
.matrix:before {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    border: 1px solid #000;
    border-right: 0px;
    width: 6px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.matrix:after {
    content: "";
    position: absolute;
    right: -6px;
    top: 0;
    border: 1px solid #000;
    border-left: 0px;
    width: 6px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}

.matrix tr td {
    padding: 7px;
    text-align: center;
}

.vecttable, .vecttable tr, .vecttable tr td, .vecttable tr th {
    border: 1px solid #999;
    border-collapse: collapse;
}


.vecttable {
    margin: 20px;
}

.vecttable tr td {
    padding: 7px;
    text-align: center;
}

.vecttable tr th {
    padding: 7px;
    text-align: center;
}

span.counter {
    padding-right: 30px;
}

span.bull {
    font-size: 0.5em;
}

span.smallsign {
    font-size: 2em;
}

span.sign {
    font-size: 4em;
}

td.right {
    text-align: right;
}

textarea.editmatrix {
    width: 100%;
    height: 200px;
}



div.matrixInput .left {
    float: left;
    width: 40%;
    margin: 10px;
}

div.matrixInput .right {
    float: right;
    width: 50%;
    margin: 10px;
}

div.clear {
    clear: both;
}

div.buttons {
    margin-top: 30px;
    text-align: center;
}

#rereadDiv {
    padding-top: 40px;
}

div#multiplication {
    text-align: center;
}

div#multiplication > table {
    margin: 0 auto;
}